{% extends "base.html" %}
{% block html_header %}
{% if not finished %}
  <meta http-equiv="refresh" content="10">
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Job results
            </div>
            <div class="card-block">
              {% if not finished %}
              Please wait some more time, your job is still running
              {% else %}
              <a href="{{ url_for('get_job_archive', job_id=job_data.job_id) }}">Get your job files here</a>
              <br/><br/>
              <a data-toggle='collapse' href='#collapseExample' aria-expanded='false' aria-controls='collapseExample'>
                Show script output
              </a>
              <div class='collapse' id='collapseExample'>
                <div class='card card-block'>
                {{ job_data.stdout|safe }}
                </div>
              </div>

                <br/><br/>
                Output file: <a href="{{ url_for('get_job_files', job_id=job_data.job_id, filename=job_data.output_file) }}" target="_blank">click here</a>
                <br/><br/>
                Graph:<br/>
                <img class="graph" src="{{ url_for('get_job_files', job_id=job_data.job_id, filename=job_data.image1) }}">
                {% if job_data.image2 %}
                <br/>
                <img class="graph" src="{{ url_for('get_job_files', job_id=job_data.job_id, filename=job_data.image2) }}">
                {% endif %}
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
