{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Submit a new job
            </div>
            <div class="card-block">
                <form action="{{ url_for('submit') }}" id="submit_job_form" enctype="multipart/form-data" method="post">
                  <div class="form-group">
                    <label for="input_file">PDB file:</label>
                    <input name="input_file" id="input_file" type="file" class="form-control-file">
                  </div>
                  <div class="form-group">
                    <label for="email">E-mail address:</label>
                    <input name="email" id="email" type="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="chain">Chain:</label>
                    <input name="chain" id="chain" type="text" class="form-control" value="A">
                  </div>
                  <div class="form-group">
                    <label for="pH">pH:</label>
                    <input name="pH" id="ph" type="number" class="form-control" step="0.1" min="0" max="14" value="7.0">
                  </div>
                  <div class="form-group">
                    <label for="temperature">Temperature (K):</label>
                    <input name="temperature" id="temperature" type="number" class="form-control" step="0.1" min="0" value="300">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
