{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">

    <title>TKSAMC</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap-4.0.0-alpha.6/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    {% block html_header %}
    {% endblock %}
</head>

<body>
    <div class="text-center" style="background-color: #000;">
        <img src="{% static 'logo.jpg'%}">
    </div>
    <nav class="navbar navbar-toggleable-md navbar-inverse navbar-fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if nav == 'home' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item{% if nav == 'results' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'results' %}">Expected Results</a>
                </li>
                <li class="nav-item{% if nav == 'theory' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'theory' %}">Theory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Citing Us</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "bootstrap-4.0.0-alpha.6/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
</body>

</html>
