{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>TKSA-MC: A Web Server for rational mutation through the optimization of protein charge interactions</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static 'css/alertify.core.css' %}" rel="stylesheet">
    <link href="{% static 'css/alertify.default.css' %}" rel="stylesheet">
    {% block html_header %}
    {% endblock %}
</head>

<body>
    <div id="header_logo" style="background-image: url('{% static 'logo.jpg' %}')">
    </div>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li{% if nav == 'home' %} class="active"{% endif %}><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                  <li{% if nav == 'results' %} class="active"{% endif %}><a class="nav-link" href="{% url 'results' %}">Expected Results</a></li>
                  <li{% if nav == 'theory' %} class="active"{% endif %}><a class="nav-link" href="{% url 'theory' %}">Theory</a></li>
                  <li{% if nav == 'contact_us' %} class="active"{% endif %}><a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a></li>
                  <li><a class="nav-link" href="https://github.com/contessoto/tksamc" target="_blank">Download</a></li>
                </ul>
              </div>
            </div>
          </nav>   

    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.5/dist/loadingoverlay.min.js" crossorigin="anonymous"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script src="{% static "js/alertify.min.js" %}"></script>
</body>

</html>
