{% extends "main/base.html" %}
{% block html_header %}
{% if tksamc and not tksamc.finished or gtksamc and not gtksamc.finished %}
<meta http-equiv="refresh" content="10">
{% endif %}
{% endblock %}
{% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Job results {% if finished %}for {{job_name}} ({{job_id}}){% endif %}</h3>
                </div>
                <div class="panel-body">
                  <div>
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" {% if not tksamc %} class="disabled" {% else %} class="active" {% endif %}>
                        <a href="#tksamc" aria-controls="tksamc" {% if tksamc %} role="tab" data-toggle="tab" {% endif %}>TKSA-MC</a></li>
                      <li role="presentation"{% if not gtksamc %} class="disabled" {% elif not tksamc %} class="active"{% endif %}>
                        <a href="#gtksamc" aria-controls="gtksamc" {% if gtksamc %} role="tab" data-toggle="tab" {% endif %}>GTKSA-MC</a></li>
                    </ul>
                    <div class="tab-content">
                      {% if tksamc %}
                      <div role="tabpanel" class="tab-pane{% if tksamc %} active{% endif %}" id="tksamc">
                        {% if tksamc.erro %}
                          {% include 'main/job_error_message.html' %}
                        {% else %}
                          {% if not tksamc.finished %}
                            Please wait, the job {{job_name}} ({{job_id}}) is still running.
                          {% else %}
                            {% include 'main/job_results_body.html' with job=tksamc version='tksamc' %}
                          {% endif %}
                        {% endif %}
                      </div>
                      {% endif %}
                      {% if gtksamc %}
                      <div role="tabpanel" class="tab-pane{% if gtksamc and not tksamc %} active{% endif %}" id="gtksamc">
                        {% if gtksamc.erro %}
                          {% include 'main/job_error_message.html' %}
                        {% else %}
                          {% if not gtksamc.finished %}
                            Please wait, the job {{job_name}} ({{job_id}}) is still running.
                          {% else %}
                            {% include 'main/job_results_body.html' with job=gtksamc version='gtksamc' %}
                          {% endif %}
                        {% endif %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
