{% extends "main/base.html" %}
{% load static %}
{% block html_header %}
{% if not finished %}
<meta http-equiv="refresh" content="10">
{% endif %}
{% endblock %}
{% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Job results {% if finished %}for {{job_name}} ({{job_id}}){% endif %}</h3>
                </div>
                <div class="panel-body">
                  <div>
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" {% if not tksamc %} class="disabled" {% else %} class="active" {% endif %}>
                        <a href="#tksamc" aria-controls="tksamc" {% if tksamc %} role="tab" data-toggle="tab" {% endif %}>TKSA-MC</a></li>
                      <li role="presentation" {% if not ntksamc %} class="disabled" {% endif %}>
                        <a href="#ntksamc" aria-controls="ntksamc" {% if ntksamc %} role="tab" data-toggle="tab" {% endif %}>NTKSA-MC</a></li>
                    </ul>
                    <div class="tab-content">
                      {% if tksamc %}
                      <div role="tabpanel" class="tab-pane active" id="tksamc">
                        {% if not tksamc.finished %}
                          Please wait, the job {{job_name}} ({{job_id}}) is still running.
                        {% else %}
                          {% include 'main/job_results_body.html' with job=tksamc version='tksamc' %}
                        {% endif %}
                      </div>
                      {% endif %}
                      {% if ntksamc %}
                      <div role="tabpanel" class="tab-pane" id="ntksamc">
                        {% if not ntksamc.finished %}
                          Please wait, the job {{job_name}} ({{job_id}}) is still running.
                        {% else %}
                          {% include 'main/job_results_body.html' with job=ntksamc version='ntksamc' %}
                        {% endif %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
