{% extends "main/base.html" %}
{% load static %}
{% block html_header %}
{% if not finished %}
<meta http-equiv="refresh" content="10">
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Job results
            </div>
            <div class="card-block">
              {% if not finished %}
              Please wait some more time, your job is still running
              {% else %}
              {% with job_id|add:'/'|add:archive_name|add:'.zip' as job_archive %}
              <a href="{% static job_archive %}">Get your job files here</a>
              {% endwith %}
              <br/><br/>
              <a data-toggle='collapse' href='#collapseExample' aria-expanded='false' aria-controls='collapseExample'>
                Show script output
              </a>
              <div class='collapse' id='collapseExample'>
                <div class='card card-block'>
                {{ stdout|safe }}
                </div>
              </div>

                <br/><br/>
                {% with job_id|add:'/'|add:output_file as output_file_url %}
                Output file: <a href="{% static output_file_url %}" target="_blank">click here</a>
                {% endwith %}
                <br/><br/>
                Graph:<br/>
                {% with job_id|add:'/'|add:image1 as image1_url %}
                <img class="graph" src="{% static image1_url %}">
                {% endwith %}
                {% if job_data.image2 %}
                <br/>
                {% with job_id|add:'/'|add:image2 as image2_url %}
                <img class="graph" src="{% static image2_url }">
                {% endwith %}
                {% endif %}
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
