{% extends "main/base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<br/><br/>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Contact Us</h3>
                </div>
                <div class="panel-body text-justify">
                    <div class="container col-sm-8 col-sm-offset-2">
                    <p>
                        Please, feel free to send us any doubts or suggestion about the TKSA-MC Web Server: &#116;&#107;&#115;&#097;&#109;&#099;&#064;&#105;&#098;&#105;&#108;&#099;&#101;&#046;&#117;&#110;&#101;&#115;&#112;&#046;&#098;&#114;
                    </p>
                    <br/>
                    <p>
                        Thank you! Tanford-Kirkwood Surface Accessibility - Monte Carlo TKSA-MC: A Web Server for rational mutation via optimizing the protein charge interactions
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
