{% extends "main/base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container text-center">
        <h4>TKSA-MC: A Web Server for rational mutation via optimizing the protein charge interactions</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Submit a new job
                </div>
                <div class="card-block">
                    Sample PDB file <a target="_blank" href="{% static 'sample_pdb_1ubq.pdb' %}">here</a><br/><br/>
                    <form action="{% url 'submit' %}" id="submit_job_form" enctype="multipart/form-data" method="post">
                      {% csrf_token %}
                      {{ form|as_bootstrap }}
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
