{% extends "main/base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block precontent %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">TKSA-MC</h1>
        <p>Tanford-Kirkwood Surface Accessibility - Monte Carlo</p>
        <p>The TKSA-MC method indicates the residues which contribute to destabilizing
        the protein native state. The algorithm calculates the protein electrostatic
        energy taking into account the contribution of each residue with polar charged
        side chain.</p>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Submit a new job
            </div>
            <div class="card-block">
                Sample PDB file <a target="_blank" href="{% static 'sample_pdb_1ubq.pdb' %}">here</a><br/><br/>
                <form action="{% url 'submit' %}" id="submit_job_form" enctype="multipart/form-data" method="post">
                  {% csrf_token %}
                  {{ form|as_bootstrap }}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
