{% extends "main/base.html" %} {% load static %} {% block html_header %} {% if not finished %}
<meta http-equiv="refresh" content="10"> {% endif %} {% endblock %} {% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    Job Error, check PDB file. This input file must be in the standard PDB format and must not contain duplicate atoms and/or
                    duplicate chains with the same index.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}