.graph {
  width:100%;
  max-width: 1000px;
}

nav.navbar {
  margin-bottom: 0;
}

#header_logo {
  background: no-repeat center #000;
  height: 130px;
}

figure.figure {
  display: table;
}

figcaption.figure-caption {
  display: table-caption;
  caption-side: bottom;
}

#id_chains {
  list-style-type: none;
}